<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_LukrNBKqTU_ILukr_IB2YfOi8vjGGKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1034565538548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-17-09</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-17-09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034565538548:ios:daea3648486cf3248c44a1</string>
</dict>
</plist>